<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Brimen</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-blue-500 to-white flex flex-col items-center justify-center min-h-screen p-6">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full text-center">
            <div class="flex justify-center mb-4">
                <img src="/views/logo_bank.png" alt="Logo" class="h-16">
            </div>
            <h1 class="text-4xl font-bold text-gray-800 mb-6">Welcome to Brimen</h1>
            <div class="mb-4">
                <a href="/login" class="w-full inline-block bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-200">
                    Login
                </a>
            </div>
        </div>
    </div>
</body>
</html>